label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  box-sizing: border-box;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
}

.is-invalid {
  border:1px solid red;
}

.label-invalid {
  color: red;
}

.invalid-feedback {
  color: red;
  margin-top: 10px;
  margin-left: 10px;
}