/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInX {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInX {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInX {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 185, 160, 0.164);
  border: thin solid rgba(0, 85, 74, 0.027);
  box-shadow: 0px 0px 3px rgba(0, 85, 74, 0.233) inset;
  border-radius:10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 185, 161);
  border: thin solid rgb(0, 185, 161);
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
  border: thin solid rgb(0, 155, 134);
  background:rgb(0, 155, 134);
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  color: rgb(34, 34, 34);
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.tutup {
  display: none;
}

.color-primary {
  color: #fff;
  background-color: rgb(0, 185, 161);
}

.color-danger {
  color: #fff;
  background-color: rgb(228, 74, 74);
}

.color-dark {
  color: #fff;
  background-color: rgb(39, 39, 39);
}

.color-default {
  color: rgb(39, 39, 39);
  background-color: rgb(238, 238, 238);
}

.notfound {
  width: '100%';
  margin: auto;
  display: block;
}

.pd-notfound {
  display: flex;
  padding: 10%;
  justify-content: center;
}

.navbar {
  position: fixed;
  background-color: rgb(0, 185, 161);
  width: 100%;
  margin-top: 0px;
  margin-left: 250px;
  -webkit-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
  -webkit-animation: slideInX .6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInX .6s; /* Firefox < 16 */
  -ms-animation: slideInX .6s; /* Internet Explorer */
  -o-animation: slideInX .6s; /* Opera < 12.1 */
  animation: slideInX .6s;
  transition: 0.6s;
  transition-delay: 0s, 0s, 0.3s;
}

.container-nav {
  margin: auto;
  padding-left: 0%;
  padding-right: 270px;
  overflow: auto;
}

.container-sidebar {
  margin-top: 30px;
}

.container {
  margin: auto;
  padding-top: 60px;
  padding-left: 260px;
  padding-right: 2%;
  padding-bottom: 2%;
  overflow: hidden;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: flex-end;
}

.navbar .navbar-nav li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 10px;
  display: block;
  text-decoration: none;
  float: left;
  padding: 19px;
}

.navbar .navbar-nav li a:hover {
  background-color: rgba(0, 165, 143, 0.836);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.column-1 {
  float: left;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
}

.column-2 {
  float: left;
  width: 50%;
  padding: 7px;
  box-sizing: border-box;
}

.column-3 {
  float: left;
  width: 33.3333333333%;
  padding: 7px;
  box-sizing: border-box;
}

.column-4 {
  float: left;
  width: 25%;
  padding: 7px;
  box-sizing: border-box;
}

.box {
  margin: 7px;
  width: 100%;
  float: left;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 0px 0px 16px 1px rgba(50, 50, 50, 0.51);
  box-shadow: 0px 0px 16px 1px rgba(50, 50, 50, 0.51);
  border-radius: 3px;
}

.box-header {
  font-weight: bold;
  padding: 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  overflow: auto;
}

.box-label {
  float: left;
}

.box-body {
  padding: 15px;
  overflow-x: auto;
}

.arrow-down:before{
  content: " \25bc";
  float:right;
  color:#fff;
}

.dropdown-nav {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.dropdown-nav .dropdown-nav-btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  display: block;
  text-decoration: none;
  padding: 19px;
  background-color: inherit;
  margin: 0;
}

.dropdown-nav:hover .dropdown-nav-btn {
  background-color: rgba(0, 165, 143, 0.836);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown-nav-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 185, 160, 0.76); */
  border: 1px solid rgba(0, 165, 143, 0.836);
  background-color: #fff;
  min-width: 160px;
  margin-top: 55px;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  transform: translateY(-1em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.navbar .dropdown-nav .dropdown-nav-content a {
  color: rgba(0, 165, 143, 0.836);
  float: none;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 185, 160, 0.76);
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-nav .dropdown-nav-content a:hover {
  color: #fff;
  background-color: rgba(0, 165, 143, 0.836);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown-nav:hover .dropdown-nav-content {
  float: right;
  right: 150;
  min-width: 160px;
  visibility: visible;
  opacity: 1;
  z-index: -1;
  border-radius: 2px;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

/* .sidebar-btn {
  color: #fff;
  background-color: rgba(0, 165, 143, 0.705);
  position: absolute;
  font-size: 25px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

.sidebar-btn .open {
  right: 0;
  margin-right: -42px;
}

.sidebar-btn .close {
  left: 0;
} */

.sidebar-btn:hover {
  background-color: rgba(0, 165, 143, 0.836);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.sidebar-default {
  display: block;
}

.sidebar-media {
  display: none;
}

.sidebar {
  z-index: 22;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: rgb(0, 122, 106);
  -webkit-box-shadow: 1px 51px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 51px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 51px 11px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
  -webkit-animation: slideInX .6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInX .6s; /* Firefox < 16 */
  -ms-animation: slideInX .6s; /* Internet Explorer */
  -o-animation: slideInX .6s; /* Opera < 12.1 */
  animation: slideInX .6s;
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.sidebar-brand {
  display: fixed;
  color: #fff;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  background-color: rgb(0, 75, 65);
  box-sizing: border-box;
}

.sidebar-brand div {
  margin-left: 70px;
  height: 100%;
}

.sidebar-brand img {
  position: absolute;
  width: 56px;
  height: 56px;
  margin-top: -15px;
  margin-bottom: -15px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.75);
}

.sidebar-brand div:hover {
  color: rgba(165, 250, 246, 0.671);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.sidebar-title {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  z-index: 90;
  background-color: rgb(1, 102, 89);
  box-sizing: border-box;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar-menu-scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-nav li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 10px;
  display: block;
  text-decoration: none;
  padding: 19px;
  box-sizing: border-box;
}

.sidebar-nav li a:hover {
  background-color: rgba(0, 165, 143, 0.836);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown-sidebar-nav {
  overflow: hidden;
}

.dropdown-sidebar-nav .dropdown-sidebar-nav-btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  display: block;
  text-decoration: none;
  padding: 19px;
  background-color: inherit;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-sidebar-nav:hover .dropdown-nav-btn {
  background-color: rgba(0, 165, 143, 0.836);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown-sidebar-nav-content {
  opacity: 0;
  position: relative;
  display: none;
  float: left;
  flex-direction: column;
  background-color: rgba(0, 185, 160, 0.76);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  transform: translateY(-2em);
  -webkit-animation: fadein .6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .6s; /* Firefox < 16 */
  -ms-animation: fadein .6s; /* Internet Explorer */
  -o-animation: fadein .6s; /* Opera < 12.1 */
  animation: fadein .6s;
}

.dropdown-sidebar-nav-content a {
  float: none;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-sidebar-nav-content a:hover {
  background-color: rgba(0, 165, 143, 0.836);
  transition: 0.3s;
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown-sidebar-nav:hover .dropdown-sidebar-nav-content {
  float: left;
  right: 150;
  min-width: 160px;
  display: block;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}